<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>อัพโหลดรูปใหม่</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12 text-center">
                    {% if not member_id %}
                        Image will be shown here.
                    {% else %}
                        <img src="/members/?id={{ member_id }}" >
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <font color="blue" size=3>แนวตั้งเท่านั้น / ไม่เกิน 1.5 mb </font>
                    </div>
                </div>
                <br>   
                <div class="row">
                    <div class="col-md-12">
                        <input id="id_image" type="file" class="" name="image">
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <font color="red" size=3>ถ้ากด submit แล้วเจอหน้า error ให้อ่านว่าเกิดจากอะไร แล้วกด back กลับมาแก้ไขค่ะ </font>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button name="submit" class="btn btn-success pull-lef" type="submit">อัพโหลดใหม่</button>
                        <a href="http://{{ root_url }}">กลับไปหน้าหลัก</a>
                    </div>
                </div>
            </form>
            <br><br><br>
            <div class="row">
                    <div class="col-md-12">
                        <font color="red" size=3>ถ้าเจอ error <br>
                        [u’File size must be under 1.5 MB. Current file size is 2.5\xa0MB.’] — แปลว่า ไฟล์รูปมีขนาดเกิน 1.5 MB ไม่สามารถอัพโหลดได้</font>
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
